.al-tree-panel {
  > .panel, > .form-group {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 500px;
    margin: 0 0 0 10px;
    vertical-align: top;
  }
  > .panel {
    > .panel-heading {
      cursor: default;
      user-select: none;
    }
    > .panel-body {
      padding: 0;
      height: 300px;
      overflow-y: auto;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAMAAAB/qqA+AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMNAMM9s3UAAAAXSURBVHjajcEBAQAAAIKg/H/aCQZ70AUBjAATb6YPDgAAAABJRU5ErkJggg==) left top repeat local;
      background-size: auto 40px;
      > .al-tree {
        margin-bottom: 0;
        position: relative;
      }
    }
    > .panel-footer {
      text-align: right;
      > .btn {
        margin-right: 5px;
      }
    }
    .al-tree {
      padding-left: 30px;
      > li {
        list-style-type: none;
        user-select: none;
        font-size: $font-size-small;
        line-height: 20px;
        cursor: default;
        .selector:hover, > .glyphicon:hover ~ .selector, > span:hover ~ .selector {
          background: #E7F4F9;
        }
        > span {
          position: relative;
          z-index: 1;
          &:not(.glyphicon) {
            pointer-events: none;
          }
        }
        > .selector {
          position: absolute;
          left: 0;
          height: 20px;
          width: 100%;
          margin-top: -20px;
          z-index: 0;
          &.selected {
            background: linear-gradient(to bottom,#BEEBFF 0,#A8E4FF 100%)!important;
          }
          &.target {
            border: 1px dotted #000;
          }
        }
        > .glyphicon {
          margin-left: -$font-size-small - 5px;
          cursor: pointer;
          margin-right: 5px;
        }
      }
    }
  }
  > .form-group {
    height: 398px;
    > .form-control {
      height: 100%;
    }
  }
}